{% comment %} {% extends "base.html" %}
{% block content %} {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  {% comment %} <script src="{% static 'app.js' %}"></script> {% endcomment %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  {% comment %} <link rel="stylesheet" href="{% static 'personal_info.css' %}" /> {% endcomment %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@200&display=swap"
    rel="stylesheet">
    <style>
  .grey_card--back {
		background:#b89989;
		transform: rotateY(180deg);
	  }

     .grey_card--front{
		background: #b89989;
	  }
    
  </style>
  <meta charset="utf-8">
  <link rel="icon" href="{% static 'img/asf.png' %}" sizes="16x16" type="image/png">
		<title>Alumni Student Mentorship Program | SARC</title>
</head>

<body style="background-color: #5C9B98 !important;">
  <div class="main" style="margin-left:2rem;">
            {% comment %} <h1>ASMP</h1> {% endcomment %}
            <img src="{% static "asmp_logo.png" %}" height='11%' width= '15%'>
        </div>

<div class="mininav">
  <ul>
    <li><a href="{% url 'test' %} " style="text-decoration: none; color: inherit;">Profile</a></li>
    <li><a href="{% url 'profile' %} " style="text-decoration: none; color: inherit;">Mentors</a></li>
    <li><a href="{% url 'favourite_list' %} " style="text-decoration: none; color: inherit;">Wishlist</a></li>
    {% if user.is_authenticated %}
        <li style="background-color:white"><a href="{% url 'logout' %}" style="text-decoration: none; background-color:white;color:#da7c49;">Logout</a></li>
        {% endif %}
  </ul>
</div>
<p style="color: #fcba03; text-align : center;font-weight:bold; font-size:1.5rem; ">{{error}}</p>
<h1 class="profhead">
  Wishlist
</h1>
<form action="update" method="post">
  {% csrf_token %}

  <div class="cardare" style="width: 100%; justify-content: center;">
    {% for mentor in new %}
    {%if mentor.maxmentees == 0 or not mentor.available %}
      <div class="scene scene--card">
      <div class="cardm">
        <div class="card__face grey_card--front">
          <p style="border-bottom: white solid 2px;">{{mentor.mentor_id}}</p>
          <p>{{mentor.designation}}, {{mentor.company}}</p>
          {% comment %} <p>{{mentor.city}} {{mentor.country}}</p> {% endcomment %}
          <p> {{mentor.discp}} <p>
          {% comment %} <p>{{mentor.degree}} {{mentor.department}} {{mentor.year}}</p> {% endcomment %}
          <a href="{% url 'favourite_add' mentor.id %}" style="position: absolute;
                bottom: 20px;
                left: 70px; color: white;">Remove from Wishlist </a>

        </div>
        <div class="card__face grey_card--back">
          <p>{{mentor.gender}}</p>
          <p>{{mentor.discp}}</p>
          <a href="{% url 'favourite_add' mentor.id %}" style="position: absolute;
                bottom: 20px;
                left: 105px; color: white;">Remove from Wishlist</a>
        </div>
        <select name="{{mentor.id}} preference" size="1" class="wishdrop">
          <option selected value="0"></option>
          {% comment %} <option value="1" style="border-radius: 50px;">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option> {% endcomment %}
        </select>
      </div>
    </div>
    <input hidden name="{{mentor.id}}" value="{{mentor.id}}">
    {%else%}
    <div class="scene scene--card">
      <div class="cardm">
        <div class="card__face card__face--front">
          <p style="border-bottom: white solid 2px;">{{mentor.mentor_id}}</p>
          <p>{{mentor.designation}}, {{mentor.company}}</p>
          {% comment %} <p>{{mentor.city}} {{mentor.country}}</p> {% endcomment %}
          <p> {{mentor.discp}} <p>
          {% comment %} <p>{{mentor.degree}} {{mentor.department}} {{mentor.year}}</p> {% endcomment %}
          <a href="{% url 'favourite_add' mentor.id %}" style="position: absolute;
                bottom: 20px;
                left: 70px; color: white;">Remove from Wishlist </a>

        </div>
        <div class="card__face card__face--back">
          <p>{{mentor.gender}}</p>
          <p>{{mentor.discp}}</p>
          <a href="{% url 'favourite_add' mentor.id %}" style="position: absolute;
                bottom: 20px;
                left: 105px; color: white;">Remove from Wishlist</a>
        </div>
        <select name="{{mentor.id}} preference" size="1" class="wishdrop">
          <option selected value="0"></option>
          <option value="1" style="border-radius: 50px;">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <input hidden name="{{mentor.id}}" value="{{mentor.id}}">
    {% endif %}
    {% endfor %}
  </div>
  <div><p style="color: #fcba03; text-align : center;font-weight:bold; font-size:1rem; ">Note: Once you submit, you won't be allowed to submit your preferences again</p></div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

  <script>
    //         var card = document.querySelector('.card');
    // card.addEventListener( 'click', function() {
    //   card.classList.toggle('is-flipped');
    // });
    $(".card__face").click(function () {
      $(this).toggleClass("is-flipped");
      $(this).children(".wishdrop").toggleClass("flipped")
    });
    $("a").click(
      function (event) {
        event.stopPropagation();
      }
    );
  </script>
  <div class="sub" style="width: 100%; text-align: center;">
    <input type="submit" style="
    width: 100px;
    background-color: #da7c49;
    outline: none;
    border: none;
    padding: 8px 20px;
    border-radius: 9999px;
    box-shadow: 4px 4px 4px #6d6c6c;
    color: white;">
  </div>
</form>
<!-- <script>
alert("{{error}}");
</script> -->

</body>

</html>

{% block content %}

{% endblock %}